.nav {
  background-color: #026a40;
  height: 50px;
}
.nav li {
  display: inline-block;
  line-height: 50px;
  padding: 0 16px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
}

.nav li:hover a {
  color: #ff5722;
  text-decoration: underline #ff5722;
}

.nav li:nth-child(6):hover a {
  color: yellow !important;
  text-decoration: underline #ffc107 !important;
  opacity: 0.8;
}

.inf {
  background-color: #026a40;
  margin-top: 20px;
}

.header-show li {
  display: inline-block;
  list-style: none;
  padding: 16px 32px;
}

.show-data:nth-of-type(1) {
  display: none !important;
}

.parent .show-data li {
  display: inline-block;
  list-style: none;
  padding: 16px 32px;
}

.parent .show-data {
  display: inline-block;
  width: auto !important;
}

.parent .show-data:hover {
  background-color: yellow;
  cursor: pointer;
}

.parent .show-data .sub-parent {
  float: right;
  margin-top: 20px;
}

.parent .show-data .sub-parent:hover span {
  color: #ff5722 !important;
}
